* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    margin: 200px;
}

.button {
    width: 200px;
    height: 80px;
    border-radius: 15px;
    margin: 2px;
}

.cash {
    font-size: 3rem;
    margin: 20px;
}

.cash-container {
    text-align: center;
}

.all-customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.customer {
    display: block;
    width: 50%;
    border: 1px solid black;
    margin-top: 2px;
}

.customer:hover {
    background-color: aliceblue;
}