* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    margin: 200px;
}

.button {
    width: 200px;
    height: 80px;
    border-radius: 15px;
    margin: 2px;
}

.cash {
    font-size: 3rem;
    margin: 20px;
}

.cash-container {
    text-align: center;
}